<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>key</th>
            <th>infomation</th>
        </tr>
        <tr>
            <td>id</td>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <td>type</td>
            <td>{{ product.product_type }}</td>
        </tr>
        <tr>
            <td>price</td>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <td>owner id</td>
            <td>{{ product.owner }}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{ product.name }}</td>
        </tr>
    </table>
</body>
</html>